<!doctype html>
<html lang="en-US">
  <head>
    <title>Filebased CMS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <header>

    </header>

    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
